@media screen and (max-width: 767px){
    nav ul a{
        font-size: .9rem;
    }
    nav ul a img{
        width: 10px;
    }
    .section_image{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    .section_conteudo .section_image a img{
        width: 70px;
        height: 70px;
        border-radius: 8px;
    }
    .section_text p{
        font-size: 1rem;
    }
    .section_tabela h2{
        font-size: 1.5rem;
    }
    table{
        width: 80vw;
    }
    

 
    
    
}