@media screen and (max-width: 767px){
body{
  width: 100vw;
}
nav h1{
    font-size: 2rem;
    padding: 5px;
    margin-bottom: 30px;
}
nav ul{
  display: none;
  font-size: .5rem;
  padding: 0;
  


}
nav ul a{
  font-size: 1rem;
  
}
nav ul a img{
  width: 5px;
}
.section_image{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10%;
}
.section_image a{
  width: 50%;
  margin: auto;
}

.section_conteudo .section_image img{
  width: 150px;
  height: 80px;
  
}

main{
  width: 80vw;
  height: 100vh;
  font-size: .6rem;

}
.section_text p{
  font-size: 1.2rem;

}
.section_tabela h2{
  font-size: 1rem;
}

table,th,tr,td{
  font-size: .5rem;
}
td,th{
  width: 100px;
  height: 10px;

}
}
    
  